@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.button {
    border: none;
    background: #fe3989;
    padding: 10px 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;

}